.stand-choice {
    .map {
        width: 100%;

        &.disabled {
            * {
                cursor: default !important;
            }
        }

        svg {
            width: 100%;
            height: fit-content;

            g.stand-element {

                &[data-reserved=false] {
                    cursor: pointer;
                }

                &[data-reserved=true] text {
                    fill: gray !important;
                }

                &[data-selected] text {
                    fill: green !important;
                }

                &[data-selected][data-container] {
                    outline: 10px solid green;
                }
            }

            g.disabled-element path {
                background-color: #d9d9d9 !important;
                fill: #d9d9d9 !important;
                //color: grey
            }
        }
    }

    .carre-moquette {
        width: 30px;
        height: 30px;
        border: 2px solid white;
        cursor: pointer;

        &.selected {
            border-width: 5px;
        }

        &.Bleue {
            background-color: #2222ff;
        }
        &.Verte {
            background-color: green;
        }
        &.Rouge {
            background-color: #d20808;
        }
        &.Jaune {
            background-color: #efd631;
        }
        &.Aucune {
            background-color: white;
        }
    }
}


