.stand-choice {

  .carre-moquette {
    width: 30px;
    height: 30px;
    border: 2px solid white;
    cursor: pointer;

    &.selected {
      border-width: 5px;
    }

    &.Bleue {
      background-color: #2222ff;
    }

    &.Verte {
      background-color: green;
    }

    &.Rouge {
      background-color: #d20808;
    }

    &.Jaune {
      background-color: #efd631;
    }

    &.Aucune {
      background-color: white;

      &::after {
        content: "✖";
        color: grey;
        font-size: 30px;
        text-align: center;
        width: 30px;
        height: 30px;
        position: absolute;
        margin-top: -5px;
      }
    }
  }
}


